.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #B36A3B;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .sectionHeader {
    font-size: 1.2em;
    color: #5B4033;
    margin-bottom: 10px;
    border-bottom: 2px solid #FFD18D;
    padding-bottom: 5px;
  }
  
  .metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .metricBox {
    background-color: #FFD18D;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin-right: 10px;
  }
  
  .metricBox:last-child {
    margin-right: 0;
  }
  
  .metricTitle {
    font-weight: bold;
  }
  
  .order, .breadItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #EEE;

    @media screen  and (max-width: 450px) {
      display: block;
    }
  }
  
  .orderDetails, .breadDetails {
    flex: 1;
  }
  
  .orderActions, .breadActions {
    display: flex;
    gap: 10px;
    
    @media screen and (max-width: 623px) {
      flex-direction: column;
      
    }
  }
  
  .button {
    padding: 8px 12px;
    background-color: #FFD18D;
    color: #5B4033;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .button.modify {
    background-color: #B36A3B;
    color: #fff;
  }
  
  .button.reject {
    background-color: #FFA07A;
  }
  
  .button.delete {
    background-color: #FF6347;
    color: #fff;
  }
  
  .formContainer {
    margin: auto;
    background-color: #FFF7E0;

  }
  
  .formContainer input,
  .formContainer textarea {
    border: 1px solid #DDD;
  }
  
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;

    button {
      font-size: 15px;
    }

  
  }
  
  .modal.active {
    display: block;
  }
  
  .modalHeader, .modalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

  
  }
  
  .modalFooter button {
    margin-top: 15px;
  }
  